@import "tailwindcss";

:root {
    --color-background: #FAFAFA;         
    --color-foreground: #333333;
  
    --color-sky-teal: #A3E0DC;
    --color-ocean-blue: #4BA2C9;
    --color-soft-mint: #D3F3ED;
    --color-heart-coral: #F7BFC4;
  
    --color-light-grey: #EAEAEA;
    --color-mid-grey: #B0B0B0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
    :root {
      --font-sans: 'Open Sans', system-ui, sans-serif;
    }
  
    body {
      font-family: var(--font-sans);
      color: #333333;
    }
  }

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), system-ui, sans-serif;
}

.custom-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #14b8a6;
  }
  
.custom-tabs .ant-tabs-ink-bar {
background: #14b8a6; 
}

.custom-tabs .ant-tabs-tab:hover .ant-tabs-tab-btn {
    color: #A3E0DC
}